.footer {
    grid-area: foot;
    background: url('../../../img/footer.png') no-repeat center;
    width: 100%;
    height: 100%;
    background-size: contain;
    @media (max-width: 767px) {
        background: url('../../../img/footer-mob.png') no-repeat;
        height: 64px;
    }
}
